# __MySQL Python__

In [1]:
import mysql.connector
import pandas as pd

## Create Connection

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'rahasia',
    database = 'toko'
)

## Acces Tables in Database

In [3]:
mycursor = mydb.cursor()
query = 'select * from karyawan'

mycursor.execute(query)
myresult = mycursor.fetchall()
print(myresult)

[(1, 'Andi Santosa', 32, 68.3, 'Jakarta', 2010, None), (2, 'Budi Permana', 32, 88.1, 'Jakarta', 1999, datetime.datetime(2020, 6, 30, 10, 23, 28)), (3, 'Cecep Sutisna', 35, 68.9, 'Bandung', 2000, datetime.datetime(2020, 6, 30, 10, 23, 28)), (4, 'Dedi Hartanto', 32, 71.3, 'Salatiga', 1998, datetime.datetime(2020, 6, 30, 10, 23, 28)), (5, 'Eva Soraya', 32, 48.1, 'Medan', 2015, datetime.datetime(2020, 6, 30, 10, 50, 19)), (6, 'Farah Naimah', 29, 52.3, 'Surabaya', 2010, datetime.datetime(2020, 6, 30, 10, 50, 19)), (7, 'Gianti Safitri', 22, 51.6, 'Bandung', 2017, datetime.datetime(2020, 6, 30, 10, 50, 19)), (8, 'Hamzah Syah', 34, 66.0, 'Yogyakarta', 2008, datetime.datetime(2020, 6, 30, 10, 50, 19)), (9, 'Irene Sukindar', 25, 49.3, 'Jakarta', 2016, datetime.datetime(2020, 6, 30, 10, 50, 19)), (10, 'Joni Saputra', 28, 69.8, 'Yogyakarta', 2000, datetime.datetime(2020, 6, 30, 10, 50, 19)), (11, 'Budi Raharja', 52, 70.0, 'Jakarta', 1998, datetime.datetime(2020, 6, 30, 10, 58, 6)), (12, 'Andi Raharja', 35, 67.0, 'Jakarta', 2018, datetime.datetime(2020, 7, 2, 11, 0, 47))]

In [4]:
columns = mycursor.column_names
columns

('No', 'Nama', 'Usia', 'Berat', 'Kota', 'Th', 'Data_In')

In [5]:
df = pd.DataFrame(myresult, columns = columns)
df

    No            Nama  Usia  Berat        Kota    Th             Data_In
0    1    Andi Santosa    32   68.3     Jakarta  2010                 NaT
1    2    Budi Permana    32   88.1     Jakarta  1999 2020-06-30 10:23:28
2    3   Cecep Sutisna    35   68.9     Bandung  2000 2020-06-30 10:23:28
3    4   Dedi Hartanto    32   71.3    Salatiga  1998 2020-06-30 10:23:28
4    5      Eva Soraya    32   48.1       Medan  2015 2020-06-30 10:50:19
5    6    Farah Naimah    29   52.3    Surabaya  2010 2020-06-30 10:50:19
6    7  Gianti Safitri    22   51.6     Bandung  2017 2020-06-30 10:50:19
7    8     Hamzah Syah    34   66.0  Yogyakarta  2008 2020-06-30 10:50:19
8    9  Irene Sukindar    25   49.3     Jakarta  2016 2020-06-30 10:50:19
9   10    Joni Saputra    28   69.8  Yogyakarta  2000 2020-06-30 10:50:19
10  11    Budi Raharja    52   70.0     Jakarta  1998 2020-06-30 10:58:06
11  12    Andi Raharja    35   67.0     Jakarta  2018 2020-07-02 11:00:47

<hr>

## __Take Class Exercise__

### __A. Connect ke database__: ``World``
### __B. Tampilkan table seperti perintah berikut__: (latihan sebelumnya soal nomor 3 & 5)

#### 3) Tampilkan daftar 10 negara yang tercatat merdeka paling awal. Daftar negara yang tidak diketahui tahun kemerdekaannya, tidak perlu diikutsertakan. 
Kolom yang diwajibkan ada minimal adalah kode negara, nama negara, benua, regional dan tahun merdeka (Independence Year).

#### 5) Tampilkan daftar negara-negara Asia yang memiliki angka harapan hidup lebih dari rata-rata angka harapan hidup negara-negara Eropa. 
Kolom yang diwajibkan ada yaitu nama negara, nama benua, angka harapan hidup dan Pendapatan Nasional Bruto/GNP (Gross National Product). Urutkan data dari negara Asia dengan angka harapan hidup tertinggi.